header {
    text-align: left;
    display: flex;
    
}
header > h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

section{
    margin: 1%;  
    text-align: center;
}

main{
    background-color: ghostwhite
}

header {
    font-family: "Century Gothic";
}

nav{
    background-color:black;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    font-family: "Century Gothic";
}

nav > ul > li {
    list-style-type: none;
    padding: 0.4em;
    font-size: 1.3em;
}

nav > ul > li > a {
    text-decoration: none;
    color:whitesmoke;
}

ul {
    margin: 0%;
}
