body {
    text-align: center;
    font-family: "Century Gothic";
}


p{
    font-family: "Century Gothic";
    color:whitesmoke;
    font-size: 1.3em;
    background-color:black;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

section{
    margin: 1%;  
}

main{
    background-color: ghostwhite
}

header {
    background-color:black;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

header > ul {
    display: flex;
    justify-content: space-evenly;
}

header > ul > li {
    list-style-type: none;
    padding: 0.4em;
    font-size: 1.3em;
}

header > ul > li > a {
    text-decoration: none;
    color:whitesmoke;
}

ul {
    margin: 0%;
}
